.pokemonPage{
  box-sizing: border-box;
  padding:50px;
  //background: blue;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: column nowrap;
  gap:20px;
  width:100%;

  .button{
    width:150px;
    height: 50px;
    background: white;
    border: none;
    text-align: start;
    font-size: 14px;
    font-weight: bolder;
    cursor: pointer;
  }

  .pokemonInfo{
    width:100%;
  }

  .pokemonLoading{
    width:100%;
    height:80vh;
    display:flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;

    .loadingDescription{
      font-size: 18px;
      margin: 20px 0 0 0;
      font-weight: bolder;
      color: #222222;

    }
  }

}
